@font-face {
  font-family: "Gilroy-Medium";
  src: url(./Asserts/Fonts/Fonts/Gilroy/Gilroy-BoldItalic.ttf);
}
body{
  font-family: "Gilroy-Medium";
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}